
.badge {
    font-size: 15px;
    text-align: center;
}

.div-alin{
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
}

#form-select{
    width: 200px;
}

#varResult {
    left: 100px;
    width: 600px;
}

#meuInput{
    width: 200px;
} 

#meuTextarea{
    width: 200px;
    font-size: 20px;
}

.form-group2{
    width: 1300px;
}

#some-form{
    margin-top: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
    }
}

#varResult {
    width: auto;
    height: 5vh; /* Altura inicial baseada na altura da viewport */
    padding: 10px;
    font-size: 1rem;
}

@media (min-width: 600px) {
    #varResult {
        width: 100vh; /* Aumenta a altura para telas maiores */
    }
}

@media (min-width: 300px) {
    #varResult {
        width: 42vh; /* Aumenta ainda mais para telas maiores */
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media (min-width: 1024px) {
    #varResult {
        width: 35vh; /* Ajuste final para telas grandes */
    }
    img {
        width: 800px;
        height: 500px;
        display: block;
    }
}
